body{
  background-color: #2F2E41;
 
  font-family: "Open Sans", sans-serif;
  text-align: center;
  
  margin: 0;
}

.page{
  width: 1080px;
  margin: 0 auto;
  padding-top: 71px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "JetBrains Mono", monospace;

  padding-bottom: 100px;
}

nav ul{
  display: flex;
  gap: 64px;
}

nav li{
  list-style: none;
}

nav a{
  color: #fff;
  text-decoration: none;

  font-size: 14px;
  line-height: 28px;
  font-weight: 500;

}

nav a:hover{
  color: #00BFA6;
}

main{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 167px;
}

h1{
  font-family: "JetBrains Mono", monospace;
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;

  color: #fff;

  

}

h1 span{
  color: #00BFA6;
  
}

section p{
  color: #C2C2C2;

  font-size: 16px;
  line-height: 28px;

  font-weight: 400;

}

section p span{
  font-weight: bold;
}

section p strong{
  color: #00BFA6;
}

#line{
  width: 560px;

  border: 1px solid #00BFA6;

  margin: 27px auto;
  

}

footer{
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  line-height: 28px;
  font-weight: normal;
  color: #fff;
}

#padlock{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 20px 20px;
}